.process-step {
  padding-bottom: 2.5rem;
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


html {
    background-color: #fff;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%
}

.intro {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
}

h1, h3, h4 {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  line-height: normal;
}

h2 {
  font-family: "Work Sans", sans-serif !important;
  font-weight: 700 !important;
  color: #203F5C !important;
}

h4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}

h4.process-title {
    color: #F3706A;
    text-align: left;
}

h5 {
  font-weight: 700;  /* Optional, to make the text more prominent */
  margin-bottom: 20px;
}

body {
  background-color: #F5EAD6;
  color: #203F5C; /* Use your logo circle color for contrast */
  font-family: 'Nunito Sans', sans-serif;
}

.left-align {
  text-align: left;
}

.hero {
  position: relative;
  /* background: url('/img/hero.png') center/cover no-repeat; */
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
}

.hero .content {
  position: relative;
  padding: 4rem 2rem;
}

img {
  margin-top: 0; /* prevent extra space */
  vertical-align: top;
  box-shadow: none !important;
  outline: none !important;
  border: none;
  height: auto;
  max-width: 100%;
}

hr {
  border: none;
  border-top: 2px solid rgba(32, 63, 92, 0.2);
  margin: 2rem 0;
}

a,
.button {
  background-color: transparent;
  color: #203F5C;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.75rem 2rem;
  text-decoration: none;
  margin: 15px;
  display: inline-block;
  border: none;  
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

a:hover,
.button:hover {
  background-color: #F3706A; /* soft light area on hover */
  color: #fff;
}

a[href="#top"] {
  background: none !important;
  box-shadow: none !important;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
}
a[href="#top"]:hover, a[href="#top"]:focus {
  background: none !important;
  box-shadow: none !important;
}
a[href="#top"] .fa-arrow-up:before {
  color: #F3706A;
  transition: color 0.3s;
}
a[href="#top"]:hover .fa-arrow-up:before,
a[href="#top"]:focus .fa-arrow-up:before {
  color: #203F5C;
}

.container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto
}

.container.is-fluid {
    max-width: none;
    padding-left: 32px;
    padding-right: 32px;
    width: 100%
}

.hero{
  align-items: none !important;;
}

.hero-body{
  align-items: none !important;
  display: block !important;
}

.navbar{
  background-color: transparent !important;
}

.navbar-item, .navbar-link{
  border-radius: 4px;
  font-size: 1.4rem !important;
  font-weight: 700 !important;
  color: #203F5C !important;
  text-transform: none !important;
}

@media screen and (min-width:1024px) {
    .navbar,
    .navbar-menu,
    .navbar-start,
    .navbar-end {
        align-items: stretch;
        display: flex;
        text-align: center !important
    }
    .navbar {
        min-height: 3.25rem
    }
    .navbar.is-spaced {
        padding: 1rem 2rem
    }
    .navbar.is-spaced .navbar-start,
    .navbar.is-spaced .navbar-end {
        align-items: center
    }
    .navbar.is-spaced a.navbar-item,
    .navbar.is-spaced .navbar-link {
        border-radius: 4px;
        font-size: 1.4rem !important;
        font-weight: 700;
        color: #203F5C !important;
    }
    .navbar.is-transparent a.navbar-item:focus,
    .navbar.is-transparent a.navbar-item:hover,
    .navbar.is-transparent a.navbar-item.is-active,
    .navbar.is-transparent .navbar-link:focus,
    .navbar.is-transparent .navbar-link:hover,
    .navbar.is-transparent .navbar-link.is-active {
        background-color: transparent !important
    }
    .navbar.is-transparent .navbar-item.has-dropdown.is-active .navbar-link,
    .navbar.is-transparent .navbar-item.has-dropdown.is-hoverable:focus .navbar-link,
    .navbar.is-transparent .navbar-item.has-dropdown.is-hoverable:focus-within .navbar-link,
    .navbar.is-transparent .navbar-item.has-dropdown.is-hoverable:hover .navbar-link {
        background-color: transparent !important
    }
    .navbar.is-transparent .navbar-dropdown a.navbar-item:focus,
    .navbar.is-transparent .navbar-dropdown a.navbar-item:hover {
        background-color: #fff;
        color: #0a0a0a
    }
    .navbar.is-transparent .navbar-dropdown a.navbar-item.is-active {
        background-color: #fff;
        color: #3273dc
    }
    .navbar-burger {
        display: none
    }
    .navbar-item,
    .navbar-link {
        align-items: center;
        display: flex
    }
    .navbar-item.has-dropdown {
        align-items: stretch
    }
    .navbar-item.has-dropdown-up .navbar-link::after {
        transform: rotate(135deg)translate(.25em, -.25em)
    }
    .navbar-item.has-dropdown-up .navbar-dropdown {
        border-bottom: 2px solid #dbdbdb;
        border-radius: 6px 6px 0 0;
        border-top: none;
        bottom: 100%;
        box-shadow: 0 -8px 8px rgba(10, 10, 10, .1);
        top: auto
    }
    .navbar-item.is-active .navbar-dropdown,
    .navbar-item.is-hoverable:focus .navbar-dropdown,
    .navbar-item.is-hoverable:focus-within .navbar-dropdown,
    .navbar-item.is-hoverable:hover .navbar-dropdown {
        display: block
    }
    .navbar.is-spaced .navbar-item.is-active .navbar-dropdown,
    .navbar-item.is-active .navbar-dropdown.is-boxed,
    .navbar.is-spaced .navbar-item.is-hoverable:focus .navbar-dropdown,
    .navbar-item.is-hoverable:focus .navbar-dropdown.is-boxed,
    .navbar.is-spaced .navbar-item.is-hoverable:focus-within .navbar-dropdown,
    .navbar-item.is-hoverable:focus-within .navbar-dropdown.is-boxed,
    .navbar.is-spaced .navbar-item.is-hoverable:hover .navbar-dropdown,
    .navbar-item.is-hoverable:hover .navbar-dropdown.is-boxed {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0)
    }
    .navbar-menu {
        flex-grow: 1;
        flex-shrink: 0
    }
    .navbar-start {
        justify-content: flex-start;
        margin-right: auto
    }
    .navbar-end {
        justify-content: flex-end;
        margin-left: auto
    }
    .navbar-dropdown {
        background-color: #fff;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        border-top: 2px solid #dbdbdb;
        box-shadow: 0 8px 8px rgba(10, 10, 10, .1);
        display: none;
        font-size: .875rem;
        left: 0;
        min-width: 100%;
        position: absolute;
        top: 100%;
        z-index: 20
    }
    .navbar-dropdown .navbar-item {
        padding: .375rem 1rem;
        white-space: nowrap
    }
    .navbar-dropdown a.navbar-item {
        padding-right: 3rem
    }
    .navbar-dropdown a.navbar-item:focus,
    .navbar-dropdown a.navbar-item:hover {
        background-color: #fff;
        color: #0a0a0a
    }
    .navbar-dropdown a.navbar-item.is-active {
        background-color: #fff;
        color: #3273dc
    }
    .navbar.is-spaced .navbar-dropdown,
    .navbar-dropdown.is-boxed {
        border-radius: 6px;
        border-top: none;
        box-shadow: 0 8px 8px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
        display: block;
        opacity: 0;
        pointer-events: none;
        top: calc(100% + (-4px));
        transform: translateY(-5px);
        transition-duration: 86ms;
        transition-property: opacity, transform
    }
    .navbar-dropdown.is-right {
        left: auto;
        right: 0
    }
    .navbar-divider {
        display: block
    }
    .navbar>.container .navbar-brand,
    .container>.navbar .navbar-brand {
        margin-left: -.75rem
    }
    .navbar>.container .navbar-menu,
    .container>.navbar .navbar-menu {
        margin-right: -.75rem
    }
    .navbar.is-fixed-bottom-desktop,
    .navbar.is-fixed-top-desktop {
        left: 0;
        position: fixed;
        right: 0;
        z-index: 30
    }
    .navbar.is-fixed-bottom-desktop {
        bottom: 0
    }
    .navbar.is-fixed-bottom-desktop.has-shadow {
        box-shadow: 0 -2px 3px rgba(10, 10, 10, .1)
    }
    .navbar.is-fixed-top-desktop {
        top: 0
    }
    html.has-navbar-fixed-top-desktop,
    body.has-navbar-fixed-top-desktop {
        padding-top: 3.25rem
    }
    html.has-navbar-fixed-bottom-desktop,
    body.has-navbar-fixed-bottom-desktop {
        padding-bottom: 3.25rem
    }
    html.has-spaced-navbar-fixed-top,
    body.has-spaced-navbar-fixed-top {
        padding-top: 5.25rem
    }
    html.has-spaced-navbar-fixed-bottom,
    body.has-spaced-navbar-fixed-bottom {
        padding-bottom: 5.25rem
    }
    a.navbar-item.is-active,
    .navbar-link.is-active {
        color: #0a0a0a
    }
    a.navbar-item.is-active:not(:focus):not(:hover),
    .navbar-link.is-active:not(:focus):not(:hover) {
        background-color: transparent
    }
    .navbar-item.has-dropdown:focus .navbar-link,
    .navbar-item.has-dropdown:hover .navbar-link,
    .navbar-item.has-dropdown.is-active .navbar-link {
        background-color: #fff
    }
}

.map-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 ratio */
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

section.alt-bg {
  background-color: #f5f2ec;
  padding: 2rem 0;
}



.navbar.is-transparent .navbar-dropdown a.navbar-item.is-active {
  color: #afa360; }

.contact-therapist-buttons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: .7rem;
  flex-wrap: wrap;
}

.contact-therapist-button {
  background-color: #F3706A;
  display: inline-flex;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 700;;
  padding: 0.75rem 2rem;
  border: 2px solid #F3706A;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 2rem auto 0;
}

/* Hover state */
.contact-therapist-button:hover {
  background-color: #203F5C;
  border: 0;
  color: #fff;
  border: 2px solid #203F5C;
}

.contact-therapist-button svg {
  width: 24px;
  height: 24px;
  stroke: #fff;
}
.contact-therapist-button:hover svg {
  stroke: #fff;
}

.flowchart-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  position: relative;
}

.flowchart-step {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
}

/* Arrow container between steps */

.flowchart-arrow-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.flowchart-arrow-icon .fa-arrow-down {
  font-size: 2rem;
  color: #F3706A;
  background: none;
  box-shadow: none;
  border-radius: 0;
  transition: none;
}
.flowchart-arrow-icon .fa-arrow-down:hover,
.flowchart-arrow-icon .fa-arrow-down:focus {
  color: #F3706A;
  background: none;
  box-shadow: none;
}

.flowchart-image {
  width: 100px;
  height: auto;
  display: block;
  box-shadow: none;
}

.stage-title {
  position: absolute;
  left: 68%; /* Adjust closer to edge of circle */
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #343623;
  font-weight: 600;
  padding: 2px 6px;
  border-radius: 4px;
  white-space: nowrap;
  pointer-events: none;
}

.back-button {
  display: inline-block;
  background-color: #322e18;
  color: #e8e6dd;
  padding: 0.4rem 0.8rem;  /* Reduced padding */
  border-radius: 6px;
  text-decoration: none;
}

.back-button:hover {
  background-color: #504c2c;
  color: #e8e6dd;
}

/* Contact Section */
#contact {
  padding: 4rem 2rem;
  text-align: center;
}

/* Container */
#contact .container {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

/* Labels */
#contact form label {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

/* Inputs and Textarea */
#contact input[type="name"],
#contact input[type="email"],
#contact textarea {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 0.5rem;
  font-family: sans-serif;
}

#contact textarea.message {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 0.5rem;
  font-family: sans-serif;
  height: 9rem; /* roughly 3x the default input height */
}

/* Focus styling */
#contact input:focus,
#contact textarea:focus {
  outline: none;
  border-color: #322e18;
  box-shadow: 0 0 4px rgba(50, 46, 24, 0.2);
}

/* Button */
#contact button {
  background-color: #F3706A;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.75rem 2rem;
  border: 2px solid #F3706A;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: block;
  margin: 2rem auto 0;
}

/* Hover state */
#contact button:hover {
  border: 2px solid #203F5C;
  background-color: #203F5C;
  color: #fff;
}

.new-logo {
  margin-bottom: 60px;
  margin-top: 60px;
  border: 0;
}


/* Dark mode styles */
/* @media (prefers-color-scheme: dark) {
  body {
    background-color: #1a1a14;
    color: #e8e6dd;
  }
} */

.spinner {
  margin-top: 1em;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #203F5C; /* your dark olive green */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin-left: auto;
  margin-right: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}